<turbo-frame id="modal_frame">
  <div data-controller="modal">
    <div class="modal" data-modal-target="modal">
      <div class="modal-background" data-modal-target="background" data-action="click->modal#closeOnBackgroundClick"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Edytuj pulę biletów</p>
          <button class="delete" aria-label="close" data-action="click->modal#close"></button>
        </header>
        <section class="modal-card-body">
          <%= render "form", event: event, ticket_batch: ticket_batch %>
        </section>
      </div>
    </div>
  </div>
</turbo-frame>
