<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Edytuj pulę biletów</p>
      <button class="delete" aria-label="close" data-action="click->modal#close"></button>
    </header>
    <section class="modal-card-body">
      <%= render "form", event: event, ticket_batch: ticket_batch %>
    </section>
  </div>
</div>
