<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
        <span class="has-text-weight-bold is-size-4">
            <span class="has-text-primary">Ticket</span><span class="has-text-gray">Wave</span>
        </span>
    </a>


    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
    </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start is-flex is-justify-content-center" style="flex-grow: 1;">
      <a class="navbar-item">
        Events
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>