<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2 mb-6">Gotowy na niezapomniane wydarzenia?</h2>
    <a href="<%= new_user_registration_path %>" class="button is-primary is-large is-rounded">
      <span>Rozpocznij przygodę</span>
    </a>
  </div>
</section>
  