<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered is-multiline">
        <div class="column is-6">
          <h1 class="title is-1 has-text-weight-bold has-text-centered-touch">
            Odkryj świat wydarzeń z <span class="has-text-primary">TicketWave</span>
          </h1>
          <p class="subtitle is-5 mt-4 has-text-grey">
            Kup bilet, zapisz się i ciesz się niezapomnianymi wrażeniami. Tysiące wydarzeń czeka na Ciebie!
          </p>
          <div class="buttons mt-6">
            <a href="#events" class="button is-white is-large is-rounded is-fullwidth-touch is-hovered">
              <span>Przeglądaj wydarzenia</span>
            </a>
            <a href="<%= new_user_registration_path %>" class="button is-primary is-light is-large is-rounded is-fullwidth-touch is-hovered">
              <span>Załóż konto</span>
            </a>
          </div>
        </div>
        <div class="column is-6">
          <figure class="image">
            <img src="https://placehold.co/600x400/7957d5/FFFFFF?text=TicketWave" 
                 alt="TicketWave" 
                 class="is-rounded has-shadow">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
