<section class="section has-background-grey-light">
  <div class="container">
    <h2 class="title is-2 has-text-centered mb-6">Co mówią nasi klienci</h2>
    
    <div class="columns">
      <div class="column is-4">
        <div class="box p-5">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img class="is-rounded" src="https://placehold.co/128/7957d5/FFFFFF?text=A" alt="Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">Anna Kowalska</p>
              <p class="subtitle is-6">@annakowalska</p>
            </div>
          </div>
          <div class="content mt-4">
            <p>"TicketWave to najlepszy sposób na zakup biletów. Szybko, wygodnie i bez problemów. Polecam!"</p>
            <div class="is-flex">
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column is-4">
        <div class="box p-5">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img class="is-rounded" src="https://placehold.co/128/7957d5/FFFFFF?text=M" alt="Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">Marek Nowak</p>
              <p class="subtitle is-6">@mareknowak</p>
            </div>
          </div>
          <div class="content mt-4">
            <p>"Dzięki TicketWave nie przegapiłem żadnego koncertu mojego ulubionego zespołu. Powiadomienia działają świetnie!"</p>
            <div class="is-flex">
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star-half-alt"></i></span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="column is-4">
        <div class="box p-5">
          <div class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img class="is-rounded" src="https://placehold.co/128/7957d5/FFFFFF?text=K" alt="Avatar">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-5">Katarzyna Wiśniewska</p>
              <p class="subtitle is-6">@kasia_w</p>
            </div>
          </div>
          <div class="content mt-4">
            <p>"Obsługa klienta na najwyższym poziomie. Miałam problem z biletem, który rozwiązano w ciągu kilku minut!"</p>
            <div class="is-flex">
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
              <span class="icon has-text-warning"><i class="fas fa-star"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
