<% if flash[:notice] %>
  <div class="notification is-success my-3" data-controller="notification" style="transition: opacity 0.5s ease">
    <button class="delete" data-action="click->notification#close"></button>
    <p data-notification-target="message"><%= flash[:notice] %></p>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="notification is-danger my-3" data-controller="notification" style="transition: opacity 0.5s ease">
    <button class="delete" data-action="click->notification#close"></button>
    <p data-notification-target="message"><%= flash[:alert] %></p>
  </div>
<% end %>