<div class="container mt-5">
  <div class="box has-text-centered">
    <h1 class="title is-3 has-text-danger">Usuń wydarzenie</h1>
    <p class="subtitle is-5">Czy na pewno chcesz usunąć wydarzenie "<%= event.name %>"?</p>

    <div class="buttons is-centered">
      <%= link_to "Usuń", event_path(event), method: :delete, class: "button is-danger" %>
      <%= link_to "Anuluj", events_path, class: "button is-light" %>
    </div>
  </div>
</div>
